.big_button{
    flex-grow: 1;
    padding: 10px;
    background-color: #333333;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.6);
    cursor: pointer;

    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background-color 0.3s;
}
.big_button:hover{
    background: rgb(17, 17, 17);
}
.big_button:focus{
    border: 1px solid rgba(255, 255, 255, 1);
    background: rgb(17, 17, 17);
}

.settings_button_block {
    margin-right: 10px;
}

.settings_button {
    margin-top: 15px;
    position: relative;
    padding: 10px 20px;
    background-color: #3498db;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
.settings_button::before {
    content: "";
    background-image: url('../images/settings_icon.png');
    background-size: cover;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    z-index: 1;
}
.settings_button:hover{
    background: rgb(251, 218, 6);
}

