.big_button{
    flex-grow: 1;
    padding: 10px;
    background-color: #333333;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.6);
    cursor: pointer;

    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.big_button:hover{
    background: rgb(17, 17, 17);
}
.big_button:focus{
    border: 1px solid rgba(255, 255, 255, 1);
    background: rgb(17, 17, 17);
}

