.profile_picture {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    border: solid 5px;
}
.operator_icon {
    height: 250px;
    width: 250px;
    --margin-right: 20px;
}
.renown_icon {
    width: 50px;
    height: 50%;
    margin-right: 10px;
}
.level_icon {
    display: block;
    width: 120px;
    height: 50%;
}